$desatureRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);

// neutal

$darkGrayish:hsl(0, 6%, 24%);

// gradient

$gradientOne:Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
$gradinetTwo:Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

$fontBody:16px;

$font:'Josefin Sans', sans-serif;;