* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

#app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  width: 100%;
  height: 100vh;
}

.logo {
  padding-top: 30px;
  padding-bottom: 30px;
}

#logo {
  width: 28%;
  margin-left: 35px;
  max-width: 200px;
}
#logo img {
  width: 100%;
}

#img {
  height: 250px;
  max-width: 400px;
  margin: 0 auto;
}
#img img {
  width: 100%;
  height: 100%;
}

.logoLg {
  display: none;
}

#cta {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#cta h1 {
  padding-top: 60px;
  padding-bottom: 25px;
  font-size: 2.3em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 8px;
  color: #413a3a;
}
#cta h1 span {
  color: #ce9797;
  font-weight: lighter;
  font-size: 0.9em;
}
#cta p {
  font-size: 16px;
  line-height: 24px;
  color: #ce9797;
  padding-bottom: 40px;
}
#cta form {
  display: grid;
  grid-template-columns: 85% 15%;
}
#cta form input {
  padding: 15px 20px 15px 40px;
  border-radius: 50px;
  border: 1px solid #ce9797;
}
#cta form input input:focus {
  border: 1px solid #f96262;
}
#cta form input input:active {
  border: 1px solid #f96262;
}
#cta form input::placeholder {
  color: #ce9797;
  font-size: 0.8em;
  opacity: 0.5;
}
#cta form button {
  margin-left: -40px;
  padding: 10px 5px 10px 5px;
  background: linear-gradient(135deg, #f8d3d3, #ee8c8c);
  border-radius: 50px;
  border: none;
  transition: background 1s;
}
#cta form button:hover {
  border: none;
  background: linear-gradient(135deg, #f8d3d3, #f8d3d3);
}
#cta form p {
  color: #f96262;
  font-size: 0.8em;
  padding-left: 10px;
  padding-top: 4px;
  text-align: start;
}

.attribution {
  width: 90%;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.attribution a {
  color: #f96262;
}

@media screen and (min-width: 800px) {
  #app {
    height: 800px;
    grid-template-columns: 58% 42%;
    grid-template-rows: 100%;
  }

  .logoLg {
    display: block;
  }

  .logo {
    display: none;
  }

  .img {
    order: 2;
  }

  #img {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
  #img img {
    height: 100%;
    max-width: 750px;
    margin: 0 auto;
  }

  .logoLg {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .logoLg #logoLg {
    width: 36%;
  }
  .logoLg #logoLg img {
    width: 100%;
    max-width: 190px;
  }

  #cta {
    width: 65%;
    text-align: start;
  }
  #cta h1 {
    font-size: 4em;
    letter-spacing: 16px;
    font-weight: 600;
  }
  #cta h1 span {
    font-weight: 200;
  }
  #cta p {
    font-size: 0.9em;
    line-height: 34px;
    padding-bottom: 60px;
  }

  form {
    height: 65px;
    grid-template-columns: 70% 30%;
    max-width: 600px;
  }
  form input {
    padding: 50px 20px 50px 20px;
    font-size: 1.3em;
  }
  form button {
    margin-left: -70px;
    width: 130%;
    border-radius: 50px;
  }
}

/*# sourceMappingURL=custom.css.map */
